*{
  margin: 0;
  padding: 0;
}
body{
  background: #111;
}
.button{
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background-color: #343837;
  color: white;
  outline-color: azure;
}
.textview{
  width: 203px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}
.bg{
  background: linear;
  height: 100%;
}